#navbar {
    display: none;
}
.login_page {
    margin-top: -1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vw;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url(../images/back_main_one.jpg);background-repeat: repeat;  background-position: center;
}
.login {
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #dbc3af;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.login_form {
    margin-bottom: 10%;
}
.header_title {
    text-align: center;
    color: #000000;
    font-size: 3.5vw;
    width: 100%;
}
.data_block {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.form_data, .form_data_button {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-left: 2%;
}
.form_data_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_data {
    color: #000000;
    border: 0.1vw solid #595008;
    height: 4.7vw;
    width: 20vw;
    background-color: #dbc3af;
    border-radius: 5vw;
    font-size: 1.3vw;
}
.input_button {
    width: 20vw;
    height: 5vw;
    border-radius: 5vw;
    vertical-align: middle;
}
.form-label {
    font-size: 1.3vw;
}
.login_button {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5vw;
    margin-bottom: 5px;
}
.register_button {
    margin-top: 5px;
    background-color: #f5c99f;
    width: 20vw;
    height: 5vw;
    color: #000000;
    border-radius: 5vw;
    vertical-align: middle;
    font-size: 1.5vw;
}
.register_button:hover {
    text-decoration: none;
    color: #000000;
}
.register {
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    margin-left: 9vw;
}
.recovery_button {
    color: #ffffff;
    font-size: 1.5vw;
    transition: color 0.5s ease-in, border-bottom 0.5s ease-in;
}
.recovery_button:hover {
    color: #694a2d;
    border-bottom: 3px solid #f3c79e;
    text-decoration: none;
}