.admin_page {
    height: 120vw;
    background-color: #dcb495;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin_block {
    width: 90%;
    height: 35vw;
    background-color: #EDCBB0;
    border-radius: 2vw;
    overflow-y: auto;
    overflow-x: hidden;
}
.admin_block::-webkit-scrollbar {
    width: 0.8vw;               /* ширина scrollbar */
}
.admin_block::-webkit-scrollbar-thumb {
    background-color: #d49d51;    /* цвет плашки */
    border-radius: 5vw;       /* закругления плашки */
    border: 0.25vw solid #ffffff;
}
.users_block {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user {
    width: 90%;
    height: 5vw;
    background-color: #ffffff;
    border: 2px solid #9E795A;
    border-radius: 3vw;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.user_logo {
    margin-left: 3px;
    width: 4vw;
    height: 4vw;
    border-radius: 5vw;
    background-color: #000000;
}
.user_names {
    margin-left: 9px;
    margin-top: 10px;
    overflow-x: auto;
    color: #000000 !important;
    font-size: 2vw;
}
.admine_title {
    font-size: 3vw;
}
.link_to_user {
    width: 16vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: no-wrap;
    text-decoration: none;
}
.link_to_user:hover {
    text-decoration: none;
}
.role_div {
    width: 8vw;
    height: 3vw;
    border-radius: 2vw;
}
.save_button {
    margin-top: 15px;
    width: 35vw;
    height: 5vw;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5vw;
    vertical-align: middle;
    font-size: 1.5vw;
}
.edit_user_form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_active, .user_banned {
    margin-left: 1vw;
}