body {
    background-color: #dcb495 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.decision_page {
    background-color: #dcb495;
    min-height: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vw;
    margin-bottom: 20vw;
}
.link_back_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.link_back {
    background-color: #ffffff;
    color: #000000;
    width: 15vw;
    height: 4.5vw;
    vertical-align: middle;
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link_back:hover {
    text-decoration: none;
    color: #000000;
}
.link_back_text {
    font-size: 1.5vw;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name_block {
    margin-top: 3vw;
    width: 90%;
    height:  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_block {
    width: 90%;
    display: flex;
    justify-content: center;
}
.title_task, .files_title {
    text-align: center;
    color: #000000;
    font-size: 4vw;
}
.description_task {
    width: 80%;
    background-color: #EDCBB0;
    height: auto;
    max-height: 15vw;
    border-radius: 2vw;
    display: flex;
    overflow-y: auto;
}
.description_task::-webkit-scrollbar {
    width: 0.8vw !important;
    height: auto;
}
.description_task::-webkit-scrollbar-thumb {
    background-color: #d49d51 !important;    /* цвет плашки */
    border-radius: 5vw !important;       /* закругления плашки */
    border: 0.25vw solid #ffffff !important;
}
.description {
    margin: 15px;
}
.description_text {
    font-size: 1.5vw;
    text-align: justify;
}
.data_block {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center
}
.bottom_data {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_label {
    margin-top: 10px;
    font-size: 1.3vw;
    color: #000000;
    font-weight: bold;
}
.input_data {
    color: #000000;
    border: 0.1vw solid #595008;
    height: 4.5vw;
    min-height: 4.5vw;
    width: 30vw;
    background-color: #dbc3af;
    border-radius: 5vw;
    font-size: 1.3vw;
    display: inline-flex;
    align-items: center;
}
.input_button {
    width: 10vw;
    height: 5vw;
    border-radius: 5vw;
    vertical-align: middle;
}
.form_data {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.decision_block {
    margin-top: 3vw;
    width: 90%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.padding_data {
    padding: 1vw;
}
.quest_button {
    color: #ffffff;
    width: 13vw;
    height: 5vw;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 3vw;
    margin-left: 2vw;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_data_button {
    margin-top: 20px;
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-between;
}
.deadline {
    margin-top: 5px;
}
.text_data {
    width: 80%;
    border-radius: 2vw !important;
    min-height: 10vw;
    max-height: 20vw;
}
.form_text_one {
    width: 200%;
}
.files_block {
    width: 100%;
    margin: 2vw;
    background-color: #dbc3af;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 2vw;
    min-height: 25vw;
}
.files_list {
    margin: 2vw;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.files {
    width: 80%;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25vw;
    max-height: 30vw;
}
.file {
    width: 98%;
    display: flex;
    background-color: #694a2d;
    margin: 0.5vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 4.5vw;
    border-radius: 2vw;
}
.file_head {
    width: 30vw;
    margin-left: 1vw;
    height: 4vw;
    background-color: #694a2d !important;
    overflow-y: hidden;
    overflow-x: auto;
}
.file_head_path, .file_path {
    font-size: 1.5vw;
    color: #ffffff !important;
    font-weight: bold;
    height: 3vw;
    display: flex;
    align-items: flex-start;
    background-color: #694a2d !important;
}
.file_buttons {
    margin-right: 2vw; 
}
.file_delete, .file_download {
    border-radius: 1vw !important;
    margin: 1vw;
    width: 8vw;
    height: 3vw;
}
.file_delete {
    background-color: hsla(0, 100%, 62%, 0.785) !important;
    border-color: hsla(0, 100%, 62%, 0.785) !important;
}
.button_text {
    font-size: 1.3vw;
}