html {
    background-color: #fdf5e6;
    height: 100%;
}
body {
    min-height: 100%;
}
.navbar {
    margin-top: -1.4vw;
    background-color: #dcb495;
    display: inline-flex;
    height: 8vw;
}
#navbar {
    margin-top: -80px;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    opacity: .9;
    border-bottom: 1px solid #bf9c81;
}
.auth_button {
    color: #ffffff;
    font-size: 1.5vw;
    transition: color 0.5s ease-in, border-bottom 0.5s ease-in;
}
.auth_button:hover {
    color: #694a2d;
    border-bottom: 3px solid #f3c79e;
    text-decoration: none;
}
.footer {
    background-color: #171717;
    height: 15vw;
}
.footer_block {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-content: center;
    align-items: center;
}
.footer_logo, .nav_logo {
    width: 7vw;
    height: 6vw;
}
.footer_rights {
    color: #ffffff;
    font-size: 1.5vw;
    width: 85%;
    text-align: center;
}
.nav_panel {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.nav_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.nav_user_name {
    margin-left: 1vw;
    align-self: center;
}
.nav_chapter_text {
    height: 100%;
    font-style: bold;
    color: #946137;
    font-size: 2vw;
    transition: color 0.3s ease-in;
}
.nav_chapter_text:hover {
    color: #f3d5be;
}
.nav_chapter {
    text-align: center;
    width: 30%;
    border-bottom: 0.2vw solid #d49d51;  
    transition: border-bottom 0.3s ease-in;
}
.nav_chapter:hover {
    text-decoration: none;  
    border-bottom: 0.2vw solid #face7d;  
}
.nav_user_name_div {
    height: 100%;
}
body::-webkit-scrollbar {
  width: 0.8vw;               /* ширина scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: #d49d51;    /* цвет плашки */
  border-radius: 5vw;       /* закругления плашки */
  border: 0.25vw solid #ffffff;
}