html {
    background-color: #fdf5e6;
    height: 100%;
}
body {
    min-height: 100%;
}
.navbar {
    background-color: #dcb495;
    display: inline-flex;
}
.auth_button {
    color: #ffffff;
    font-size: 1.5vw;
    transition: font-size 0.5s ease-in, text-shadow 1s ease-in;
}
.auth_button:hover {
    font-size: 1.55vw;
    color: #ffffff;
    text-shadow: 0px 0px 20px #ffffff;
}