.template_page {
    height: 120vw;
    background-color: #dcb495;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link_back_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.link_back {
    background-color: #ffffff;
    color: #000000;
    width: 15vw;
    height: 4.5vw;
    vertical-align: middle;
    border-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link_back:hover {
    text-decoration: none;
    color: #000000;
}
.link_back_text {
    font-size: 1.5vw;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project_logo {
    margin-top: 30px;
    width: 15vw;
    height: 15vw;
    border: 0.2vw solid #ffffff;
    border-radius: 2vw;
}
.brand_block {
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}
.name_project {
    font-size: 3vw !important;
}
.header_task_block {
    width: 60vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task_block, .list_files_block {
    background-color: #EDCBB0;
    width: 95%;
    height: 25vw;
    border-radius: 2vw;
    overflow-y: auto;
}
.task {
    margin: 20px;
}
.body_block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.head_task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60vw;
    justify-content: center;
    align-items: flex-start;
}
.list_quests {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 0.5vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.quest_header_button {
    height: 4.5vw;
    width: 100%;
    text-align: left;
    border-radius: 5vw;
    background-color: #9E795A;
    border-color: #9E795A;
    border-bottom-color: #9E795A;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.quest_button_block_one {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.quest_title_block {
    width: 90%;
    height: 4vw;
    display: flex;
    align-items: center;
}
.quest_title {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 1.5vw;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    margin-top: 0.7vw;
    margin-left: 1.8vw;
}
.quest_body_block {
    background-color: #9E795A;
    width: 100%;
    height: 20vw;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quest_body {
    width: 94%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.quest_description_block {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quest_description {
    width: 100%;
    height: 100%;
    background-color: #dcb495;
    border-radius: 2vw;
    overflow-y: auto;
}
.quest_description::-webkit-scrollbar, .task_block::-webkit-scrollbar-thumb {
    width: 0.8vw !important;
}
.quest_description::-webkit-scrollbar-thumb, .task_block::-webkit-scrollbar-thumb {
    background-color: #d49d51 !important;    /* цвет плашки */
    border-radius: 5vw !important;       /* закругления плашки */
    border: 0.25vw solid #ffffff !important;
}
.quest_description_text {
    margin: 20px;
}
.files_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35vw;
}
.list_files {
    margin: 2vw;
}
.files_title {
    text-align: center;
    color: #000000;
    font-size: 4vw;
}
.file {
    width: 98%;
    display: flex;
    background-color: #9E795A;
    margin: 0.5vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 4.5vw;
    border-radius: 2vw;
}
.file_head {
    width: 30vw;
    margin-left: 1vw;
    height: 4vw;
    background-color: #9E795A !important;
    overflow-y: hidden;
    overflow-x: auto;
}
.file_head_path, .file_path {
    font-size: 1.5vw;
    color: #ffffff !important;
    font-weight: bold;
    height: 3vw;
    display: flex;
    align-items: flex-start;
    background-color: #9E795A !important;
}
.file_buttons {
    margin-right: 2vw; 
}
.file_delete, .file_download, .upload_button {
    border-radius: 1vw !important;
    margin: 1vw;
    width: 8vw;
    height: 3vw;
}
.file_delete {
    background-color: hsla(0, 100%, 62%, 0.785) !important;
    border-color: hsla(0, 100%, 62%, 0.785) !important;
}
.button_text {
    font-size: 1.3vw;
}
.create_project_block {
    width: 13vw;
    height: 5vw;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 3vw;
    margin-left: 2vw;
}
.create_link:hover {
    text-decoration: none;
    color: #000000;
}
.create_text {
    width: 13vw;
    height: 5vw;
    text-align: center;
    font-size: 1.5vw;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}