.user_view_page {   
    height: 120vw;
    background-color: #dcb495;
}
.user_data_block {
    width: 85%;
    height: 65vw;
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#a8886f;
    border-radius: 4vw;
}
.user_photo {
    margin-top: 30px;
    width: 15vw;
    height: 15vw;
    border: 0.2vw solid #ffffff;
    border-radius: 2vw;
}
.first_data_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.user_data {
    width: 95%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data_header {
    font-size: 2vw;
    color: #ffffff;
    font-weight: bold;
}
.data_block {
    background-color:#f5d3b8;
    width: 25vw;
    height: 5vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data_text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 1.5vw;
    color: #000000;
    overflow-x: auto;
}
.surname_block, .about_block {
    width: 90%;
}
.about_bottom {
    border-radius: 3vw;
    height: 20vw !important;
}
.data_bottom {
    width: 100% !important;
}
.list_project {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2vw;
    overflow-y: hidden;
    overflow-x: hidden;
}
.project_header_button {
    height: 5.5vw;
    width: 100%;
    text-align: left;
    border-radius: 5vw;
    background-color: #9E795A;
    border-color: #9E795A;
    border-bottom-color: #9E795A;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.project_description_block {
    background-color: #9E795A;
    width: 100%;
    height: 20vw;
    border-radius: 2vw;
}
.project_logo_block {
    width: 4.5vw;
    height: 4.5vw;
    border: 0.3vw solid #ffffff;
    background-color: #ffffff;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_logo {
    width: 4vw;
    height: 4vw;
    border-radius: 5vw;
}
.project_title_block {
    width: 70%;
    height: 4vw;
}
.project_title {
    font-size: 3.5vw;
}
.project_button_block_one {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.project_description {
    width: 98%;
    height: 100%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.collaborator_block {
    width: 22%;
    height: 90%;
    background-color: #EDCBB0;
    border-radius: 2vw;
    overflow-y: auto;
}
.description_block {
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.description_header_text {
    font-size: 2vw;
}
.description_block_text {
    width: 90% !important;
    height: 80% !important;
    width: 50%;
    background-color: #dcb495;
    border-radius: 2vw;
}
.description_text {
    width: 100% !important;
    height: 100%;
    font-size: 1.5vw;
    overflow-wrap: normal;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
    word-wrap: normal;
    word-break: normal;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */ 
    line-break: auto;  /* нет поддержки для русского языка */ 
    hyphens: manual;  /* значение auto не поддерживается Chrome */ 
    margin: 2vw;
}
.user_projects_block {
    margin-top: 35px;
    margin-left: 3%;
    border: 0.2vw solid #694a2d;
    border-radius: 4.5vw;
    width: 94%;
    height: 45vw;
    overflow-y: auto;
}
.user {
    width: 16vw;
    height: 3.5vw;
    background-color: #ffffff;
    border: 2px solid #9E795A;
    border-radius: 3vw;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: no-wrap;
}
.user_logo {
    margin-left: 3px;
    width: 3vw;
    height: 3vw;
    border-radius: 5vw;
    background-color: #000000;
}
.user_names {
    margin-left: 9px;
    margin-top: 10px;
    overflow-x: auto;
    color: #000000 !important;
}
.link_to_user {
    width: 16vw;
    height: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: no-wrap;
    text-decoration: none;
}
.link_to_user:hover {
    text-decoration: none;
}