<link rel="stylesheet" href="../../../../static/css/edit_task.css"/>
{% extends "base.html" %} {% block content %}
<div class="new_task_page">
    <div class="link_back_block">
        <a class="link_back" href="../{{ task.id }}">
            <p class="link_back_text">К задаче</p>
        </a>
    </div>
    <div class="form_block">
        <form action="" method="post" class="new_task_form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="name_form_block">
                <div class="form_data">
                    <label class="form_label">{{ form.name.label }}</label>
                    {{ form.name(class="input_data label_data", type="name", placeholder='your project name') }}
                    {% for error in form.name.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form_data">
                    <label class="form_label">{{ form.description.label }}</label>
                    {{ form.description(class="input_data description padding_data", type="description", placeholder='your project description') }}
                    {% for error in form.description.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="data_form_block">
                <div class="form_data">
                    <label class="form_label">{{ form.deadline_date.label }}</label>
                    {{ form.deadline_date(class="input_data deadline padding_data", type="date") }}
                    {% for error in form.deadline_date.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                    {{ form.deadline_time(class="input_data deadline padding_data", type="time") }}
                    {% for error in form.deadline_time.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form_data_button">
                    {{ form.save(type="submit", class="quest_button") }}
                    {{ form.delete(type="submit", class="quest_button delete_project_link") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}