<link rel="stylesheet" href="../static/css/page404.css"/>
{% extends "base.html" %} {% block content %}
<div class="page_404">
    <div class="header_block">
        <div class="header">
            <hr class="line_top">
            <div class="header_rect">
                <strong class="header_rect_text">Ошибка 404</strong>
            </div>
            <hr class="line_top">
        </div>
        <div class="header">
            <h2 class="header_title">Страница не найдена</h2>
        </div>
        <div class="header">
            <hr class="line_bottom">
        </div>
    </div>
    <div class="link_block">
            <div class="block_to_home">
                <a class="link_to_home" href="/#header_block">
                    <img class="link_image" src="../static/images/logo_w.png">
                </a>
            </div>
    </div>
</div>
{% endblock %}