<link rel="stylesheet" href="../static/css/register.css"/>
{% extends "base.html" %} {% block content %}
<div class="register_page">
    <div class="register">
        <div><h1 class="header_title">Регистрация</h1></div>
        <div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="data_block">
                    <div>
                        <label class="form-label">{{ form.email.label }}</label>
                        {{ form.email(class="form-control data", type="email") }} {% for
                        error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div>
                        <label class="form-label">{{ form.name.label }}</label>
                        {{ form.name(class="form-control data", type="name") }} {%
                        for error in form.name.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div>
                        <label class="form-label">{{ form.login.label }}</label>
                        {{ form.login(class="form-control data", type="login") }} {%
                        for error in form.login.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div>
                        <label class="form-label">{{ form.password.label }}</label>
                        {{ form.password(class="form-control data", type="password") }} {%
                        for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="buttons_from">
                    {{ form.submit(type="submit", class="button") }}
                </div>
                <div class="message_block">
                    {% if message != '' %}
                    <div class="alert alert-danger message" role="alert">{{ message }}</div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
